In [2]:
import pandas as pd
import numpy as np

# 1. Load CSV full_sensor_data to DataFrame

In [33]:
history = pd.read_csv("data/full_sensor_data.csv", parse_dates=True, index_col="UTC time")

## 1.1. Data group by 1Day

In [32]:
history_aggegated_1D = history.groupby(pd.Grouper(freq='1D')).mean()

                     3                                                 \
           temperature   humidity      pressure        pm1       pm25
UTC time
2017-01-01   -5.184237  75.055536  101641.99688  70.877829  75.678715
2017-01-02   -5.184237  75.055536  101641.99688  70.877829  75.678715
2017-01-03   -5.184237  75.055536  101641.99688  70.877829  75.678715
2017-01-04   -5.184237  75.055536  101641.99688  70.877829  75.678715
2017-01-05   -5.184237  75.055536  101641.99688  70.877829  75.678715

                               140                                      ...  \
                  pm10 temperature  humidity       pressure        pm1  ...
UTC time                                                                ...
2017-01-01  112.701531   11.654797  80.13328  101640.780013  26.461862  ...
2017-01-02  112.701531   11.654797  80.13328  101640.780013  26.461862  ...
2017-01-03  112.701531   11.654797  80.13328  101640.780013  26.461862  ...
2017-01-04  112.701531   11.654797  80.13328  101640.780013  26.461862  ...
2017-01-05  112.701531   11.654797  80.13328  101640.780013  26.461862  ...

                      857                                         895  \
                 pressure        pm1      pm25       pm10 temperature
UTC time
2017-01-01  101592.767553  29.292064  31.77906  65.443587   11.358481
2017-01-02  101592.767553  29.292064  31.77906  65.443587   11.358481
2017-01-03  101592.767553  29.292064  31.77906  65.443587   11.358481
2017-01-04  101592.767553  29.292064  31.77906  65.443587   11.358481
2017-01-05  101592.767553  29.292064  31.77906  65.443587   11.358481


             humidity       pressure        pm1     pm25       pm10
UTC time
2017-01-01  79.455389  101661.688571  23.800572  23.8359  40.947336
2017-01-02  79.455389  101661.688571  23.800572  23.8359  40.947336
2017-01-03  79.455389  101661.688571  23.800572  23.8359  40.947336
2017-01-04  79.455389  101661.688571  23.800572  23.8359  40.947336
2017-01-05  79.455389  101661.688571  23.800572  23.8359  40.947336

[5 rows x 336 columns]

### 1.1.1. Imputing using mean

In [34]:
filled_mean_history_aggegated_1D = history_aggegated_1D.fillna(history_aggegated_1D.mean())
filled_mean_history_aggegated_1D.columns = pd.MultiIndex.from_tuples([(c.split('_')[0], c.split('_')[1]) for c in filled_mean_history_aggegated_1D.columns])
filled_mean_history_aggegated_1D.head()

                     3                                                 \
           temperature   humidity      pressure        pm1       pm25
UTC time
2017-01-01   -5.184237  75.055536  101641.99688  70.877829  75.678715
2017-01-02   -5.184237  75.055536  101641.99688  70.877829  75.678715
2017-01-03   -5.184237  75.055536  101641.99688  70.877829  75.678715
2017-01-04   -5.184237  75.055536  101641.99688  70.877829  75.678715
2017-01-05   -5.184237  75.055536  101641.99688  70.877829  75.678715

                               140                                      ...  \
                  pm10 temperature  humidity       pressure        pm1  ...
UTC time                                                                ...
2017-01-01  112.701531   11.654797  80.13328  101640.780013  26.461862  ...
2017-01-02  112.701531   11.654797  80.13328  101640.780013  26.461862  ...
2017-01-03  112.701531   11.654797  80.13328  101640.780013  26.461862  ...
2017-01-04  112.701531   11.654797  80.13328  101640.780013  26.461862  ...
2017-01-05  112.701531   11.654797  80.13328  101640.780013  26.461862  ...

                      857                                         895  \
                 pressure        pm1      pm25       pm10 temperature
UTC time
2017-01-01  101592.767553  29.292064  31.77906  65.443587   11.358481
2017-01-02  101592.767553  29.292064  31.77906  65.443587   11.358481
2017-01-03  101592.767553  29.292064  31.77906  65.443587   11.358481
2017-01-04  101592.767553  29.292064  31.77906  65.443587   11.358481
2017-01-05  101592.767553  29.292064  31.77906  65.443587   11.358481


             humidity       pressure        pm1     pm25       pm10
UTC time
2017-01-01  79.455389  101661.688571  23.800572  23.8359  40.947336
2017-01-02  79.455389  101661.688571  23.800572  23.8359  40.947336
2017-01-03  79.455389  101661.688571  23.800572  23.8359  40.947336
2017-01-04  79.455389  101661.688571  23.800572  23.8359  40.947336
2017-01-05  79.455389  101661.688571  23.800572  23.8359  40.947336

[5 rows x 336 columns]

### 1.1.2. Imputing using the meadian

In [35]:
filled_median_history_aggegated_1D = history_aggegated_1D.fillna(history_aggegated_1D.median())
filled_median_history_aggegated_1D.columns = pd.MultiIndex.from_tuples([(c.split('_')[0], c.split('_')[1]) for c in filled_median_history_aggegated_1D.columns])
filled_median_history_aggegated_1D.head()

                     3                                                        \
           temperature humidity    pressure        pm1       pm25       pm10
UTC time
2017-01-01        -5.4    77.25  101710.875  53.333333  54.230769  88.791667
2017-01-02        -5.4    77.25  101710.875  53.333333  54.230769  88.791667
2017-01-03        -5.4    77.25  101710.875  53.333333  54.230769  88.791667
2017-01-04        -5.4    77.25  101710.875  53.333333  54.230769  88.791667
2017-01-05        -5.4    77.25  101710.875  53.333333  54.230769  88.791667

                   140                                       ...          857  \
           temperature   humidity       pressure        pm1  ...     pressure
UTC time                                                     ...
2017-01-01   11.791667  81.708333  101665.416667  22.571429  ...  101603.3125
2017-01-02   11.791667  81.708333  101665.416667  22.571429  ...  101603.3125
2017-01-03   11.791667  81.708333  101665.416667  22.571429  ...  101603.3125
2017-01-04   11.791667  81.708333  101665.416667  22.571429  ...  101603.3125
2017-01-05   11.791667  81.708333  101665.416667  22.571429  ...  101603.3125

                                               895                            \
                  pm1       pm25  pm10 temperature   humidity       pressure
UTC time
2017-01-01  25.145833  25.666667  54.5   11.783333  81.379167  101684.958333
2017-01-02  25.145833  25.666667  54.5   11.783333  81.379167  101684.958333
2017-01-03  25.145833  25.666667  54.5   11.783333  81.379167  101684.958333
2017-01-04  25.145833  25.666667  54.5   11.783333  81.379167  101684.958333
2017-01-05  25.145833  25.666667  54.5   11.783333  81.379167  101684.958333


                  pm1       pm25       pm10
UTC time
2017-01-01  20.333333  18.458333  33.270833
2017-01-02  20.333333  18.458333  33.270833
2017-01-03  20.333333  18.458333  33.270833
2017-01-04  20.333333  18.458333  33.270833
2017-01-05  20.333333  18.458333  33.270833

[5 rows x 336 columns]

### 1.1.3 Imputing using the rolling mean

In [41]:
filled_rolling_mean_history_aggegated_1D = history_aggegated_1D.fillna(history_aggegated_1D.rolling(100, win_type='triang').mean())
filled_rolling_mean_history_aggegated_1D .columns = pd.MultiIndex.from_tuples([(c.split('_')[0], c.split('_')[1]) for c in filled_rolling_mean_history_aggegated_1D .columns])
filled_rolling_mean_history_aggegated_1D .head()

                     3                                         140           \
           temperature humidity pressure pm1 pm25 pm10 temperature humidity
UTC time
2017-01-01         NaN      NaN      NaN NaN  NaN  NaN         NaN      NaN
2017-01-02         NaN      NaN      NaN NaN  NaN  NaN         NaN      NaN
2017-01-03         NaN      NaN      NaN NaN  NaN  NaN         NaN      NaN
2017-01-04         NaN      NaN      NaN NaN  NaN  NaN         NaN      NaN
2017-01-05         NaN      NaN      NaN NaN  NaN  NaN         NaN      NaN

                         ...      857                       895           \
           pressure pm1  ... pressure pm1 pm25 pm10 temperature humidity
UTC time                 ...
2017-01-01      NaN NaN  ...      NaN NaN  NaN  NaN         NaN      NaN
2017-01-02      NaN NaN  ...      NaN NaN  NaN  NaN         NaN      NaN
2017-01-03      NaN NaN  ...      NaN NaN  NaN  NaN         NaN      NaN
2017-01-04      NaN NaN  ...      NaN NaN  NaN  NaN         NaN      NaN
2017-01-05      NaN NaN  ...      NaN NaN  NaN  NaN         NaN      NaN


           pressure pm1 pm25 pm10
UTC time
2017-01-01      NaN NaN  NaN  NaN
2017-01-02      NaN NaN  NaN  NaN
2017-01-03      NaN NaN  NaN  NaN
2017-01-04      NaN NaN  NaN  NaN
2017-01-05      NaN NaN  NaN  NaN

[5 rows x 336 columns]