In [4]:
import pandas as pd
history = pd.read_csv("data/full_sensor_data.csv", parse_dates=True, index_col="UTC time")
history.columns = pd.MultiIndex.from_tuples([(c.split('_')[0], c.split('_')[1]) for c in history.columns])
history.head()

                              3                                         140  \
                    temperature humidity pressure pm1 pm25 pm10 temperature
UTC time
2017-01-01 00:00:00         NaN      NaN      NaN NaN  NaN  NaN         NaN
2017-01-01 01:00:00         NaN      NaN      NaN NaN  NaN  NaN         NaN
2017-01-01 02:00:00         NaN      NaN      NaN NaN  NaN  NaN         NaN
2017-01-01 03:00:00         NaN      NaN      NaN NaN  NaN  NaN         NaN
2017-01-01 04:00:00         NaN      NaN      NaN NaN  NaN  NaN         NaN

                                           ...      857                \
                    humidity pressure pm1  ... pressure pm1 pm25 pm10
UTC time                                   ...
2017-01-01 00:00:00      NaN      NaN NaN  ...      NaN NaN  NaN  NaN
2017-01-01 01:00:00      NaN      NaN NaN  ...      NaN NaN  NaN  NaN
2017-01-01 02:00:00      NaN      NaN NaN  ...      NaN NaN  NaN  NaN
2017-01-01 03:00:00      NaN      NaN NaN  ...      NaN NaN  NaN  NaN
2017-01-01 04:00:00      NaN      NaN NaN  ...      NaN NaN  NaN  NaN

                            895
                    temperature humidity pressure pm1 pm25 pm10
UTC time
2017-01-01 00:00:00         NaN      NaN      NaN NaN  NaN  NaN
2017-01-01 01:00:00         NaN      NaN      NaN NaN  NaN  NaN
2017-01-01 02:00:00         NaN      NaN      NaN NaN  NaN  NaN
2017-01-01 03:00:00         NaN      NaN      NaN NaN  NaN  NaN
2017-01-01 04:00:00         NaN      NaN      NaN NaN  NaN  NaN

[5 rows x 336 columns]

In [5]:
hist_212 = history['212']
hist_212.head()

                     temperature  humidity  pressure    pm1   pm25   pm10
UTC time
2017-01-01 00:00:00          0.0      29.0  101435.0  107.0  123.0  196.0
2017-01-01 01:00:00          0.0      28.0  101387.0  123.0  144.0  227.0
2017-01-01 02:00:00          0.0      28.0  101302.0  120.0  140.0  224.0
2017-01-01 03:00:00          0.0      27.0  101250.0  104.0  119.0  190.0
2017-01-01 04:00:00          0.0      25.0  101204.0   88.0  100.0  161.0

In [6]:
hist_212_agg = hist_212.groupby(pd.Grouper(freq='1D')).mean()
hist_212_agg.head()

,temperature,humidity,pressure,pm1,pm25,pm10
UTC time,,,,,,
2017-01-01,1.291667,24.041667,100928.583333,84.250000,95.208333,153.541667
2017-01-02,2.541667,27.333333,100366.083333,45.333333,47.625000,87.000000
2017-01-03,2.041667,32.208333,100486.583333,24.375000,21.250000,43.000000
2017-01-04,2.625000,35.291667,98972.333333,5.708333,0.416667,6.583333
2017-01-05,-1.583333,25.291667,100565.625000,7.958333,2.750000,10.875000

In [7]:
hist_212_agg['pm1_next_day'] = hist_212_agg['pm1'].shift(-1)
hist_212_agg['pm25_next_day'] = hist_212_agg['pm25'].shift(-1)
hist_212_agg['pm10_next_day'] = hist_212_agg['pm10'].shift(-1)

hist_212_agg.head()

,temperature,humidity,pressure,pm1,pm25,pm10,pm1_next_day,pm25_next_day,pm10_next_day
UTC time,,,,,,,,,
2017-01-01,1.291667,24.041667,100928.583333,84.250000,95.208333,153.541667,45.333333,47.625000,87.000000
2017-01-02,2.541667,27.333333,100366.083333,45.333333,47.625000,87.000000,24.375000,21.250000,43.000000
2017-01-03,2.041667,32.208333,100486.583333,24.375000,21.250000,43.000000,5.708333,0.416667,6.583333
2017-01-04,2.625000,35.291667,98972.333333,5.708333,0.416667,6.583333,7.958333,2.750000,10.875000
2017-01-05,-1.583333,25.291667,100565.625000,7.958333,2.750000,10.875000,16.666667,11.708333,26.625000

In [8]:
hist_212_agg = hist_212_agg.dropna()
hist_212_agg.head()

,temperature,humidity,pressure,pm1,pm25,pm10,pm1_next_day,pm25_next_day,pm10_next_day
UTC time,,,,,,,,,
2017-01-01,1.291667,24.041667,100928.583333,84.250000,95.208333,153.541667,45.333333,47.625000,87.000000
2017-01-02,2.541667,27.333333,100366.083333,45.333333,47.625000,87.000000,24.375000,21.250000,43.000000
2017-01-03,2.041667,32.208333,100486.583333,24.375000,21.250000,43.000000,5.708333,0.416667,6.583333
2017-01-04,2.625000,35.291667,98972.333333,5.708333,0.416667,6.583333,7.958333,2.750000,10.875000
2017-01-05,-1.583333,25.291667,100565.625000,7.958333,2.750000,10.875000,16.666667,11.708333,26.625000

### Scaling

In [9]:
from sklearn.preprocessing import StandardScaler
hist_212_agg.iloc[:] = StandardScaler().fit_transform(hist_212_agg)
hist_212_agg.head()

,temperature,humidity,pressure,pm1,pm25,pm10,pm1_next_day,pm25_next_day,pm10_next_day
UTC time,,,,,,,,,
2017-01-01,-0.995637,-2.889181,-0.795704,2.722907,2.816061,3.010311,0.946640,0.925996,1.259689
2017-01-02,-0.834184,-2.677250,-1.591462,0.927687,0.906434,1.234070,-0.029176,-0.143668,0.070951
2017-01-03,-0.898765,-2.363379,-1.420993,-0.039118,-0.152055,0.059548,-0.898292,-0.988584,-0.912911
2017-01-04,-0.823420,-2.164862,-3.563173,-0.900209,-0.988145,-0.912546,-0.793533,-0.893954,-0.796964
2017-01-05,-1.366979,-2.808701,-1.309174,-0.796416,-0.894503,-0.797986,-0.388074,-0.530640,-0.371449

In [10]:
X = hist_212_agg[['temperature', 'humidity', 'pressure', 'pm1', 'pm25', 'pm10']]
y = hist_212_agg[['pm1_next_day', 'pm25_next_day', 'pm10_next_day']]

## Train/test split

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [47]:
X_train

            temperature  humidity  pressure       pm1      pm25      pm10
UTC time
2017-11-19    -0.855711  0.220026 -0.972598 -0.423534 -0.426293 -0.438734
2017-12-01    -1.270107  0.721684 -0.359452  0.771998  0.684034  0.639023
2017-07-05     0.984854 -0.010683  0.504977 -0.611897 -0.605216 -0.656732
2017-03-17    -0.360588 -0.085798 -0.400301 -0.000677 -0.101890 -0.043890
2017-07-13     0.678093  0.203930 -0.054765 -0.973248 -0.857715 -0.923669
...                 ...       ...       ...       ...       ...       ...
2017-03-13    -0.774984  0.244170  1.297493  0.245349  0.170675  0.206363
2017-04-17    -0.608149  0.775337 -0.210144 -0.285144 -0.304224 -0.300816
2017-09-28     0.102244 -0.072384  2.043855 -0.194806 -0.255730 -0.248541
2017-12-15    -1.017164 -0.222613 -2.341007 -0.317819 -0.259075 -0.255215
2017-04-13    -0.279862  1.075796 -0.938056 -0.573456 -0.536656 -0.557743

[286 rows x 6 columns]

## Regressions

In [14]:
from sklearn.linear_model import LinearRegression
from sklearn.neural_network import MLPRegressor
from sklearn.linear_model import Ridge
from sklearn.preprocessing import PolynomialFeatures

class SameValueRegression:
    def predict(self, X):
        return X[['pm1', 'pm25', 'pm10']].to_numpy()

### Training

In [67]:
pol2_feature_trans = PolynomialFeatures(2).fit(X_train)
pol2_features = pol2_feature_trans.transform(X_train)
pol2_reg = Ridge(alpha=1.0, solver='lsqr').fit(pol2_features, y_train)

pol3_feature_trans = PolynomialFeatures(3).fit(X_train)
pol3_features = pol3_feature_trans.transform(X_train)
pol3_reg = Ridge().fit(pol3_features, y_train)

lin_reg = LinearRegression()
lin_reg.fit(X_train, y_train)

mlp_reg = MLPRegressor(max_iter=1000)
mlp_reg.fit(X_train, y_train)

same_value_reg = SameValueRegression()

### Predictions

In [70]:
X_test_pol2 = pol2_feature_trans.transform(X_test)
y_pred_pol2 = pol2_reg.predict(X_test_pol2)

X_test_pol3 = pol3_feature_trans.transform(X_test)
y_pred_pol3 = pol3_reg.predict(X_test_pol3)

y_pred_lin = lin_reg.predict(X_test)

y_pred_mlp = mlp_reg.predict(X_test)

y_pred_same_val = same_value_reg.predict(X_test)

In [71]:
from sklearn.metrics import mean_squared_error, r2_score
# print('Mean squared error: %.2f' % (mean_squared_error(y_test, y_pred))

print('Coefficient of determination - polinomial 2: %.2f' % r2_score(y_test, y_pred_pol2))

print('Coefficient of determination - polinomial 3: %.2f' % r2_score(y_test, y_pred_pol3))

print('Coefficient of determination - linear: %.2f' % r2_score(y_test, y_pred_lin))

print('Coefficient of determination - mlp: %.2f' % r2_score(y_test, y_pred_mlp))

print('Coefficient of determination - same val: %.2f' % r2_score(y_test, y_pred_same_val))

Coefficient of determination - polinomial 2: 0.65
Coefficient of determination - polinomial 3: 0.34
Coefficient of determination - linear: 0.63
Coefficient of determination - mlp: 0.58
Coefficient of determination - same val: 0.56

In [18]:
print('Mean squared error - polinomial 2: %.2f' % mean_squared_error(y_test, y_pred_pol2))

print('Mean squared error - polinomial 3: %.2f' % mean_squared_error(y_test, y_pred_pol3))

print('Mean squared error - linear: %.2f' % mean_squared_error(y_test, y_pred_lin))

print('Mean squared error - mlp: %.2f' % mean_squared_error(y_test, y_pred_mlp))

print('Mean squared error - same val: %.2f' % mean_squared_error(y_test, y_pred_same_val))

Mean squared error - polinomial 2: 0.43
Mean squared error - polinomial 3: 0.80
Mean squared error - linear: 0.46
Mean squared error - mlp: 0.43
Mean squared error - same val: 0.54

In [19]:
results = abs(y_test - y_pred) / y_test

NameError: name 'y_pred' is not defined

In [ ]:
results

In [20]:
results.describe()

NameError: name 'results' is not defined

In [28]:
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import r2_score, mean_squared_error, make_scorer

In [66]:
pol2_feature_trans = PolynomialFeatures(2).fit(X)
pol2_features = pol2_feature_trans.transform(X)
reg = Ridge()


scorers_pol2 = make_scorer(r2_score)

param_grid = {
    'alpha': [0.1, 0.3, 0.5, 0.7, 1.0, 2.0, 5.0, 10.0],
    'solver' : ['auto', 'svd', 'cholesky', 'lsqr', 'sparse_cg', 'sag', 'saga']
}

scorers_pol2 = GridSearchCV(estimator=reg, 
                     param_grid=param_grid, 
                     scoring=scorers_pol2, 
                     cv=5)

scorers_pol2.fit(X=pol2_features, y=y)

GridSearchCV(cv=5, estimator=Ridge(),
             param_grid={'alpha': [0.1, 0.3, 0.5, 0.7, 1.0, 2.0, 5.0, 10.0],
                         'solver': ['auto', 'svd', 'cholesky', 'lsqr',
                                    'sparse_cg', 'sag', 'saga']},
             scoring=make_scorer(r2_score))

In [62]:
scorers_pol2.best_params_

{'alpha': 1.0, 'solver': 'lsqr'}

In [63]:
scorers_pol2.best_score_

-0.1353855433261097

In [ ]:
scorers_pol2.

In [64]:
scorers_pol2.cv_results_

{'mean_fit_time': array([0.00344653, 0.00329723, 0.00310025, 0.00592113, 0.00778837,
        0.07333846, 0.08395057, 0.00194397, 0.00211673, 0.00272589,
        0.00779705, 0.00551248, 0.06263514, 0.08229299, 0.0022522 ,
        0.0025115 , 0.00217915, 0.00556769, 0.00512161, 0.06642475,
        0.08722997, 0.0019424 , 0.00209422, 0.00189166, 0.00517926,
        0.00475941, 0.05886631, 0.08155761, 0.00215354, 0.00229206,
        0.00225568, 0.00547066, 0.00471625, 0.06024375, 0.07933669,
        0.00189023, 0.00219851, 0.00192499, 0.00493603, 0.00444622,
        0.05520539, 0.07176995, 0.00193558, 0.00244894, 0.00309906,
        0.00753875, 0.00437312, 0.05244808, 0.06241808, 0.00197344,
        0.00205474, 0.00188804, 0.00438113, 0.00414748, 0.04056368,
        0.05390439]),
 'std_fit_time': array([6.24371445e-04, 2.99686012e-04, 3.56641732e-04, 8.42292963e-04,
        2.18770139e-03, 3.48728787e-03, 1.35552871e-02, 8.54699980e-05,
        7.08091781e-05, 6.43324466e-04, 1.50521785e-03, 3.87429766e-04,
        6.95419423e-03, 1.59921653e-02, 1.94015987e-04, 2.03852932e-04,
        9.05203477e-05, 4.11748972e-04, 5.53686270e-04, 1.47225607e-02,
        1.65179952e-02, 1.06965427e-04, 5.06697315e-05, 4.67133492e-05,
        4.03609731e-04, 3.70407694e-04, 1.30006717e-02, 2.13614762e-02,
        7.61017166e-05, 1.40899418e-04, 2.29936544e-04, 3.53465674e-04,
        3.86064384e-04, 1.60808034e-02, 2.22890243e-02, 8.28829400e-05,
        8.48043055e-05, 7.84368862e-05, 1.27865767e-04, 2.48880284e-04,
        1.80314902e-02, 2.31916172e-02, 6.05169290e-05, 6.76249974e-04,
        7.91517317e-04, 1.53169550e-03, 2.69575973e-04, 2.11512671e-02,
        2.47130854e-02, 8.01471493e-05, 4.28167907e-05, 4.86904210e-05,
        2.04682004e-04, 4.22839323e-04, 1.65679645e-02, 2.26077951e-02]),
 'mean_score_time': array([0.00216827, 0.00205607, 0.00186186, 0.00161991, 0.00218406,
        0.00183883, 0.00139937, 0.0012547 , 0.00126996, 0.00179248,
        0.0019763 , 0.00148087, 0.0015017 , 0.0014761 , 0.0015089 ,
        0.00151682, 0.0014905 , 0.00146699, 0.00146303, 0.00164046,
        0.0016715 , 0.00130916, 0.00135384, 0.00131392, 0.00144701,
        0.00142775, 0.00136275, 0.00148034, 0.00134106, 0.00140615,
        0.00139723, 0.00147357, 0.00134749, 0.00153799, 0.0015223 ,
        0.00141578, 0.00127702, 0.00126777, 0.00141487, 0.0015789 ,
        0.00146646, 0.0015265 , 0.00126886, 0.001507  , 0.00195866,
        0.00209546, 0.00138221, 0.00162106, 0.00145402, 0.00137782,
        0.001331  , 0.00129404, 0.00134544, 0.00132442, 0.0014935 ,
        0.00152864]),
 'std_score_time': array([2.88532608e-04, 2.51790582e-04, 1.77740397e-04, 3.05175766e-04,
        5.08644805e-04, 4.24145958e-04, 2.36813867e-05, 1.54377457e-05,
        1.15760507e-05, 3.94364666e-04, 3.31989063e-04, 1.28519778e-05,
        1.05686694e-04, 5.70685436e-05, 1.23925326e-04, 7.32489238e-05,
        9.24265655e-05, 5.11530937e-05, 8.69148186e-05, 3.21180520e-04,
        3.72126828e-04, 7.75224893e-05, 6.33367560e-05, 6.56750364e-05,
        6.60885636e-05, 5.96699548e-05, 6.34742442e-05, 1.47132044e-04,
        7.71260187e-05, 1.04328374e-04, 8.46670801e-05, 9.65126654e-05,
        7.13123322e-05, 9.72936416e-05, 6.54760102e-05, 2.06089958e-04,
        1.60315177e-05, 2.18579782e-05, 8.38080611e-05, 3.54253413e-04,
        6.22650375e-05, 9.09204305e-05, 2.31538690e-05, 3.21407891e-04,
        4.46054806e-04, 4.66477633e-04, 1.01975459e-04, 1.28059002e-04,
        8.71496843e-05, 1.49704467e-04, 5.80265173e-05, 1.02585572e-04,
        8.50613072e-05, 2.85453856e-05, 1.82073474e-04, 7.06706773e-05]),
 'param_alpha': masked_array(data=[0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.3, 0.3, 0.3, 0.3,
                    0.3, 0.3, 0.3, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.7,
                    0.7, 0.7, 0.7, 0.7, 0.7, 0.7, 1.0, 1.0, 1.0, 1.0, 1.0,
                    1.0, 1.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 5.0, 5.0,
                    5.0, 5.0, 5.0, 5.0, 5.0, 10.0, 10.0, 10.0, 10.0, 10.0,
                    10.0, 10.0],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_solver': masked_array(data=['auto', 'svd', 'cholesky', 'lsqr', 'sparse_cg', 'sag',
                    'saga', 'auto', 'svd', 'cholesky', 'lsqr', 'sparse_cg',
                    'sag', 'saga', 'auto', 'svd', 'cholesky', 'lsqr',
                    'sparse_cg', 'sag', 'saga', 'auto', 'svd', 'cholesky',
                    'lsqr', 'sparse_cg', 'sag', 'saga', 'auto', 'svd',
                    'cholesky', 'lsqr', 'sparse_cg', 'sag', 'saga', 'auto',
                    'svd', 'cholesky', 'lsqr', 'sparse_cg', 'sag', 'saga',
                    'auto', 'svd', 'cholesky', 'lsqr', 'sparse_cg', 'sag',
                    'saga', 'auto', 'svd', 'cholesky', 'lsqr', 'sparse_cg',
                    'sag', 'saga'],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'alpha': 0.1, 'solver': 'auto'},
  {'alpha': 0.1, 'solver': 'svd'},
  {'alpha': 0.1, 'solver': 'cholesky'},
  {'alpha': 0.1, 'solver': 'lsqr'},
  {'alpha': 0.1, 'solver': 'sparse_cg'},
  {'alpha': 0.1, 'solver': 'sag'},
  {'alpha': 0.1, 'solver': 'saga'},
  {'alpha': 0.3, 'solver': 'auto'},
  {'alpha': 0.3, 'solver': 'svd'},
  {'alpha': 0.3, 'solver': 'cholesky'},
  {'alpha': 0.3, 'solver': 'lsqr'},
  {'alpha': 0.3, 'solver': 'sparse_cg'},
  {'alpha': 0.3, 'solver': 'sag'},
  {'alpha': 0.3, 'solver': 'saga'},
  {'alpha': 0.5, 'solver': 'auto'},
  {'alpha': 0.5, 'solver': 'svd'},
  {'alpha': 0.5, 'solver': 'cholesky'},
  {'alpha': 0.5, 'solver': 'lsqr'},
  {'alpha': 0.5, 'solver': 'sparse_cg'},
  {'alpha': 0.5, 'solver': 'sag'},
  {'alpha': 0.5, 'solver': 'saga'},
  {'alpha': 0.7, 'solver': 'auto'},
  {'alpha': 0.7, 'solver': 'svd'},
  {'alpha': 0.7, 'solver': 'cholesky'},
  {'alpha': 0.7, 'solver': 'lsqr'},
  {'alpha': 0.7, 'solver': 'sparse_cg'},
  {'alpha': 0.7, 'solver': 'sag'},
  {'alpha': 0.7, 'solver': 'saga'},
  {'alpha': 1.0, 'solver': 'auto'},
  {'alpha': 1.0, 'solver': 'svd'},
  {'alpha': 1.0, 'solver': 'cholesky'},
  {'alpha': 1.0, 'solver': 'lsqr'},
  {'alpha': 1.0, 'solver': 'sparse_cg'},
  {'alpha': 1.0, 'solver': 'sag'},
  {'alpha': 1.0, 'solver': 'saga'},
  {'alpha': 2.0, 'solver': 'auto'},
  {'alpha': 2.0, 'solver': 'svd'},
  {'alpha': 2.0, 'solver': 'cholesky'},
  {'alpha': 2.0, 'solver': 'lsqr'},
  {'alpha': 2.0, 'solver': 'sparse_cg'},
  {'alpha': 2.0, 'solver': 'sag'},
  {'alpha': 2.0, 'solver': 'saga'},
  {'alpha': 5.0, 'solver': 'auto'},
  {'alpha': 5.0, 'solver': 'svd'},
  {'alpha': 5.0, 'solver': 'cholesky'},
  {'alpha': 5.0, 'solver': 'lsqr'},
  {'alpha': 5.0, 'solver': 'sparse_cg'},
  {'alpha': 5.0, 'solver': 'sag'},
  {'alpha': 5.0, 'solver': 'saga'},
  {'alpha': 10.0, 'solver': 'auto'},
  {'alpha': 10.0, 'solver': 'svd'},
  {'alpha': 10.0, 'solver': 'cholesky'},
  {'alpha': 10.0, 'solver': 'lsqr'},
  {'alpha': 10.0, 'solver': 'sparse_cg'},
  {'alpha': 10.0, 'solver': 'sag'},
  {'alpha': 10.0, 'solver': 'saga'}],
 'split0_test_score': array([-0.13894291, -0.13894291, -0.13894291, -0.13898201, -0.154691  ,
        -0.09936694, -0.13874222, -0.11007035, -0.11007035, -0.11007035,
        -0.13695315, -0.10173592, -0.12530978, -0.16084869, -0.12493944,
        -0.12493944, -0.12493944, -0.10707116, -0.11917652, -0.14860621,
        -0.17492168, -0.14175079, -0.14175079, -0.14175079, -0.12735208,
        -0.13812989, -0.16492076, -0.18572707, -0.16216954, -0.16216954,
        -0.16216954, -0.1507627 , -0.1724067 , -0.18059684, -0.19673757,
        -0.19984823, -0.19984823, -0.19984823, -0.20600818, -0.19400339,
        -0.20990721, -0.21625453, -0.23443201, -0.23443201, -0.23443201,
        -0.22614076, -0.23262378, -0.23721267, -0.23996181, -0.24854772,
        -0.24854772, -0.24854772, -0.24442108, -0.24504552, -0.24892996,
        -0.25134866]),
 'split1_test_score': array([-0.79318624, -0.79318624, -0.79318624, -0.46438155, -0.49188148,
        -0.43099903, -0.40808117, -0.56763803, -0.56763803, -0.56763803,
        -0.45818124, -0.47872906, -0.42834272, -0.40465098, -0.50439985,
        -0.50439985, -0.50439985, -0.45251212, -0.46805585, -0.42564945,
        -0.40156931, -0.47520125, -0.47520125, -0.47520125, -0.4472749 ,
        -0.45918256, -0.42333871, -0.39887839, -0.45188785, -0.45188785,
        -0.45188785, -0.42186992, -0.4483526 , -0.41956381, -0.39313049,
        -0.41815768, -0.41815768, -0.41815768, -0.40818092, -0.4198316 ,
        -0.40631146, -0.37681512, -0.37126195, -0.37126195, -0.37126195,
        -0.37090143, -0.37090141, -0.36986882, -0.33296081, -0.31590745,
        -0.31590745, -0.31590745, -0.33204859, -0.31730114, -0.31452013,
        -0.26910109]),
 'split2_test_score': array([-0.50553168, -0.50553168, -0.50553168, -0.5351108 , -0.46087034,
        -0.51759969, -0.54775935, -0.52180435, -0.52180435, -0.52180435,
        -0.54039328, -0.4708352 , -0.52147414, -0.55255364, -0.52667796,
        -0.52667796, -0.52667796, -0.54533287, -0.4795219 , -0.52525211,
        -0.55644784, -0.53033222, -0.53033222, -0.53033222, -0.54992611,
        -0.48718063, -0.52822574, -0.55946116, -0.53543235, -0.53543235,
        -0.53543235, -0.45550902, -0.49807075, -0.53387677, -0.56544349,
        -0.55188948, -0.55188948, -0.55188948, -0.55712701, -0.5653459 ,
        -0.55162038, -0.58479806, -0.60087449, -0.60087449, -0.60087449,
        -0.59912732, -0.59809967, -0.60573383, -0.64354563, -0.68544105,
        -0.68544105, -0.68544105, -0.68942834, -0.68942832, -0.69551718,
        -0.73858168]),
 'split3_test_score': array([0.35387005, 0.35387005, 0.35387005, 0.37181525, 0.37098735,
        0.37282249, 0.38246388, 0.35940374, 0.35940374, 0.35940374,
        0.37265565, 0.37212255, 0.37338873, 0.38318673, 0.36329878,
        0.36329878, 0.36329878, 0.37130383, 0.37272033, 0.37394768,
        0.38368055, 0.36581645, 0.36581645, 0.36581645, 0.3719971 ,
        0.37355983, 0.37449053, 0.38441623, 0.36824465, 0.36824465,
        0.36824465, 0.37300079, 0.37390089, 0.37534679, 0.38489503,
        0.37245599, 0.37245599, 0.37245599, 0.37606592, 0.37635094,
        0.37791911, 0.38724116, 0.37993026, 0.37993026, 0.37993026,
        0.38333056, 0.38330863, 0.38431708, 0.3930897 , 0.38889771,
        0.38889771, 0.38889771, 0.39183142, 0.39183142, 0.39248884,
        0.40000096]),
 'split4_test_score': array([-0.42003011, -0.42003011, -0.42003011, -0.02560675, -0.02560673,
        -0.02574604, -0.02678547, -0.17590639, -0.17590639, -0.17590639,
        -0.02471921, -0.02471923, -0.02526365, -0.02622508, -0.10569781,
        -0.10569781, -0.10569781, -0.02385515, -0.02385515, -0.0245551 ,
        -0.02558766, -0.07440028, -0.07440028, -0.07440028, -0.02301285,
        -0.02301284, -0.02422139, -0.02494111, -0.05138044, -0.05138044,
        -0.05138044, -0.02178687, -0.02178686, -0.02317385, -0.02390562,
        -0.02587814, -0.02587814, -0.02587814, -0.01797264, -0.01797262,
        -0.02022819, -0.02012121, -0.00786554, -0.00786554, -0.00786554,
        -0.00813886, -0.00813885, -0.01162923, -0.01058243,  0.0068426 ,
         0.0068426 ,  0.0068426 , -0.00340777,  0.00580308,  0.00245732,
         0.00443774]),
 'mean_test_score': array([-0.30076418, -0.30076418, -0.30076418, -0.15845317, -0.15241244,
        -0.14017784, -0.14778087, -0.20320307, -0.20320307, -0.20320307,
        -0.15751825, -0.14077937, -0.14540031, -0.15221833, -0.17968326,
        -0.17968326, -0.17968326, -0.15149349, -0.14357782, -0.15002304,
        -0.15496919, -0.17117362, -0.17117362, -0.17117362, -0.15511377,
        -0.14678922, -0.15324322, -0.1569183 , -0.1665251 , -0.1665251 ,
        -0.1665251 , -0.13538554, -0.1533432 , -0.1563729 , -0.15886443,
        -0.16466351, -0.16466351, -0.16466351, -0.16264456, -0.16416051,
        -0.16202962, -0.16214955, -0.16690075, -0.16690075, -0.16690075,
        -0.16419556, -0.16529102, -0.16802549, -0.1667922 , -0.17083118,
        -0.17083118, -0.17083118, -0.17549487, -0.1708281 , -0.17280422,
        -0.17091854]),
 'std_test_score': array([0.38816638, 0.38816638, 0.38816638, 0.32700919, 0.31635983,
        0.31779041, 0.32361091, 0.33474314, 0.33474314, 0.33474314,
        0.32745515, 0.31661004, 0.31795171, 0.3245298 , 0.32531413,
        0.32531413, 0.32531413, 0.32781202, 0.316113  , 0.31845135,
        0.32535456, 0.32249553, 0.32249553, 0.32249553, 0.32781158,
        0.31610587, 0.31901391, 0.32615225, 0.32149041, 0.32149041,
        0.32149041, 0.30204308, 0.31670947, 0.32026028, 0.32726433,
        0.32348105, 0.32348105, 0.32348105, 0.32524571, 0.32885606,
        0.32416018, 0.33155471, 0.33435715, 0.33435715, 0.33435715,
        0.33462478, 0.33460157, 0.33664768, 0.34586959, 0.35686824,
        0.35686824, 0.35686824, 0.35912688, 0.35880164, 0.36038319,
        0.37284022]),
 'rank_test_score': array([55, 54, 55, 19, 11,  2,  7, 52, 51, 52, 18,  3,  5, 10, 49, 48, 49,
         9,  4,  8, 14, 44, 43, 44, 15,  6, 12, 17, 31, 30, 31,  1, 13, 16,
        20, 27, 26, 27, 23, 24, 21, 22, 34, 36, 34, 25, 29, 37, 33, 39, 41,
        39, 47, 38, 46, 42], dtype=int32)}

In [57]:
reg = Ridge()


scorers = make_scorer(r2_score)

param_grid = {
    'alpha': [0.1, 0.3, 0.5, 0.7, 1.0, 2.0, 5.0, 10.0],
    'solver' : ['auto', 'svd', 'cholesky', 'lsqr', 'sparse_cg', 'sag', 'saga']
}

search = GridSearchCV(estimator=reg, 
                     param_grid=param_grid, 
                     scoring=scorers, 
                     cv=5)

search.fit(X=X, y=y)

GridSearchCV(cv=5, estimator=Ridge(),
             param_grid={'alpha': [0.1, 0.3, 0.5, 0.7, 1.0, 2.0, 5.0, 10.0],
                         'solver': ['auto', 'svd', 'cholesky', 'lsqr',
                                    'sparse_cg', 'sag', 'saga']},
             scoring=make_scorer(r2_score))

In [58]:
search.best_params_

{'alpha': 10.0, 'solver': 'saga'}

In [59]:
search.best_score_

0.18303965324880656